<% if current_user.role == "user" %>  
  <%= form_tag charges_path do %>
    <h4>Click the button!</h4>
    <script class='stripe-button' 
            src="https://checkout.stripe.com/checkout.js" 
            data-key="<%= @stripe_btn_data[:key] %>" 
            data-amount="<%= @stripe_btn_data[:amount] %>" 
            data-description="<%= @stripe_btn_data[:description] %>"
            data-locale="auto"></script>
  <% end %>
<% else %>
    <h4>You already have an upgraded account!</h4>
  <%= link_to "Downgrade account", @charge, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to do this?"}%>
<% end %>